.product-list{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.product-list article {
    background: #fff;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;

}

.product-list article a {
    text-decoration: none;
    height: 42px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    background: none;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    transition: all 0.2s;
}

.product-list article a:hover{
    background-color: blue;
    color: #fff;
}

.product-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-list .actions button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: blue;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.product-list .actions button:hover{
    opacity: 0.7;
}

.product-list .actions button[disabled] {
    opacity: 0.5;
    cursor: default;
}